<div class="container card-request">
  <div class="row justify-content-center">
    <h1 class="col-xs-12 col-sm-12 text-center text-color--blue mb-3">Reservar una tarjeta Bovedum</h1>
  </div>
  <div class="row justify-content-center">    
    <div class="col-xs-12 col-sm-6">
      <img src="assets/images/card.png">
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2 class="mt-4 text-center">¿Cómo funciona?</h2>
      <p>Inscríbete en nuestra lista de reserva para disfrutar de los beneficios de nuestra tarjeta. Con tu tarjeta
        Bovedum podrás</p>
        <ol>
          <li>Tener una cuenta con la que podrás hacer tus pagos recurrentes en Chile o el extranjero.</li>
          <li>Tendrás acceso a tus recursos de forma internacionalmente fácil. Ser global.</li>
          <li>Tener acceso a los servicios de suscripción sin riesgos.</li>
          <li>Tranferir entre cuentas Bovedum sin costo.</li>
          <li>Acceso a tus recursos desde el celular.</li>
        </ol>
      <ng-template [ngIf]="hasCardRequest" [ngIfElse]="requestCardTemplate">
        <div class="has-request text-center">
          <p class="color-purple m-0 lead font-weight-bold">¡Felicitaciones!</p>
          <p class="color-purple m-0 lead font-weight-bold">Tu tarjeta ya está en curso</p>
          <p class="lead mt-2"><span class="badge badge-pill badge-info font-weight-normal py-3 px-4">Estás en el lugar
              <span
              class="color-yellow">{{requestPlace}}</span> de la lista de espera.</span></p>
        </div>
      </ng-template>
      <ng-template #requestCardTemplate>
        <button class="btn btn-primary btn-lg color-white" (click)="requestCard()">Solicitar tarjeta</button>
      </ng-template>
      </div>
  </div>
</div>