form{
    label{
        font: {
            weight: 700;
        }
    }
}

.form__title{
    color: #707070;
    margin-bottom: 20px;
    text-align: left;
    font: {
        size: 170%;
    }
}

.form-control{
    background: #f2f2f2;
    border-color: #f2f2f2;
}