.table{
    margin: 0;
    width: 100%;
    th, td{
        border: none;
    }
    
    
    &.table-small{
        thead{
            th{
                font: {
                    size: 80%;
                    weight: normal;
                }
            }
        }
        tbody{
            td, th{
                font: {
                  size: 80%;
                  weight: normal;
                }
            }
        }
    }
}