.color{

    // Colors
    &-white{
        color: white;
    }
    &-blue{
        color: $blue;
    }
    &-purple{
        color: $purple;
    }
    &-yellow{
        color: $yellow;
    }
    &-gold{
        color: $gold;
    }
}

h1,h2,h3,h4,h5,h6{
    color: $lightGray;
}
h1,h2{
    font: {
        size: 1.5rem;
    }
}


// Wallet
.wallet__title{
    margin: 0;
    line-height: 100%;
    font: {
        weight: bold;
        size: 150%;
    }
}