// Colors
$blue: #3182ce;
$mediumBlue: #2c5282;
$darkBlue: #012D52;
$yellow: #ecc94b;
$active: #dd6b20;
$purple: #58194E;
$gold: #DFBB3F;
$gray: #444444;
$lightGray: #666666;
$green: #3F7B31;

$bvColors: (
  "blue": #3182ce,
  "mediumBlue": #2c5282,
  "darkBlue": #012D52,
  "yellow": #ecc94b,
  "active": #dd6b20,
  "purple": #58194E,
  "gold": #DFBB3F,
  "gray": #444444,
  "lightGray": #666666,
  "green": #3F7B31,
);

@each $key, $value in $bvColors{
  .color-#{$key} {
    color: $value;
  }
  .background-#{$key} {
    background-color: $value;
  }
}

// Fonts
$primaryFont: 'Orkney', sans-serif;

/* Bootstrap Override */
$body-color: $gray;
$theme-colors: (
  "primary": $blue,
  "secondary": $active,
  "link": $blue,
  "info": $purple,
  "lightgray": $lightGray,
);

$colors: (
  "purple": $purple
);