<div class="row justify-content-center">
  <div class="col-12 col-sm-5">
    <form #form="ngForm" class="needs-validation bg-white p-5 shadow-sm card" (submit)="onClickSubmit(form.value)">
      <div class="form__title font-weight-bold">Iniciar Sesión</div>
      <div class="form-row">
        <div class="form-group col-12">
          <!-- <label for="email">Correo</label> -->
          <input required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ngModel name="email" #email="ngModel"
            id="email" type="email" class="form-control py-4 px-4" placeholder="Correo" aria-label="Correo">
          <small class="form-text text-muted"></small>
          <div class="" *ngIf="email.touched && !email.valid">
            <div *ngIf="email.errors.required"><small><i>Email requerido</i></small></div>
            <div *ngIf="email.errors.pattern"><small><i>No es un correo válido</i></small></div>
          </div>
        </div>
        <div class="form-group col-12">
          <!-- <label for="password">Clave</label> -->
          <input required ngModel name="password" #password="ngModel" type="password" id="password"
            class="form-control py-4 px-4" placeholder="Clave" aria-label="Clave">
        </div>
      </div>
      <button class="btn btn-info mb-3 py-2 px-2 btn-block">Entrar</button>
      <a class="" [routerLink]="['/register']" routerLinkActive="router-link-active" >¿No tienes una cuenta?</a>
    </form>
  </div>
</div>