<!-- <div id="liveness"></div> -->
<div class="container">
  <div class="row justify-content-center">
    <!-- Requests resumee -->
    <div class="col-12">
      <h3 class="card-title text-center color-lightGray">Mi inventario </h3>
      <div class="bv-card bv-wallet-resumee shadow-sm d-flex justify-content-center align-items-center">

        <div class="card-body d-flex justify-content-end align-items-center">
          <table class="table table-hover table-responsive table-small">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Fecha</th>
                <th scope="col">Tipo</th>
                <th scope="col">Valor (USD)</th>
                <th scope="col">Gramos</th>
                <th scope="col">Certificado</th>
              </tr>
            </thead>
            <tbody>
              <ng-template [ngIf]="requests.length" [ngIfElse]="noRequests">
                <tr *ngFor="let r of requests; let i = index">
                  <th scope="row">{{ r.id }}</th>
                  <td>{{r.createdAt | date}}</td>
                  <td>{{r.mineral.mineral_name}}</td>
                  <td>{{r.total_value | currency:'USD'}}</td>
                  <td>{{r.mineral_presentation}}</td>
                  <td>-</td>
                </tr>
              </ng-template>
              <ng-template #noRequests>
                <tr>
                  <td class="text-center" colspan="6"><a [routerLink]="['minerals']" class="btn btn-outline-success">Compra minerales acá</a></td>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12">
      <div class="bv-card bv-indicators-card py-3 shadow-sm d-flex flex-column justify-content-center align-items-center">
        <h3 class="card-title color-lightGray">Precio del oro</h3>
        <div class="w-100 d-flex flex-column">
          <div class="card-body__column d-flex flex-column">
            <!-- <div class="d-flex justify-content-center align-items-center">
              <span class="badge badge-pill badge-success shadow-sm py-2 px-3">3,4%</span> | <strong>Variación</strong>
            </div> -->
            <div class="d-flex flex-column my-3">
              <div>
                <p class="lead">Onza Troy USD <strong>{{troyOzUsd | currency: 'USD'}}</strong></p>
              </div>
              <div>
                <p class="lead">Onza Troy CLP <strong>{{troyOzClp | currency:'clp':'$':'1.0-0'}}</strong></p>
              </div>
            </div>

          </div>

          <!-- <div class="card-body__column">
            <div id="chart" style="display: block;">
              <canvas baseChart width="100" height="100" [datasets]="lineChartData" [labels]="lineChartLabels"
                [options]="lineChartOptions" [colors]="lineChartColors" [legend]="false"
                [chartType]="lineChartType"></canvas>
            </div>
          </div> -->

          <div class="card-body__column d-flex justify-content-between">
            <div class="d-flex flex-column btn btn-outline-danger">
              <small>Venta</small>
              <p class="mb-0"><strong>{{((troyOzUsd / 31.1) - 7) | currency: 'USD'}} </strong> <small>USD</small></p>
            </div>
            <div class="d-flex flex-column btn btn-outline-success">
              <small>Compra</small>
              <p class="mb-0"><strong>{{(troyOzUsd / 31.1) | currency: 'USD'}} </strong> <small>USD</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <!-- Card Handler -->
    <div class="col-12">
      <div class="bv-card bv-product-card shadow-sm background-darkBlue d-flex justify-content-center align-items-center">
        <img class="sparkles" src="assets/images/sparkles@2x.png">
        <div class="d-flex justify-content-between align-items-center">
          <ng-template [ngIf]="hasCardRequest" [ngIfElse]="requestCardTemplate">
            <div class="has-request text-center col-12">
              <p class="color-white m-0 lead font-weight-bold">¡Felicitaciones!</p>
              <p class="color-white m-0 lead font-weight-bold">Tu tarjeta ya está en curso</p>
              <p class="lead mt-2"><span class="badge badge-pill badge-info font-weight-normal py-3 px-4">Estás en el
                  lugar
                  <span class="color-yellow">{{requestPlace}}</span> de la lista de espera.</span></p>
            </div>
          </ng-template>
          <ng-template #requestCardTemplate>
            <h3 class="card-title color-white">Tarjeta Bovedum</h3>
            <figure class="w-50">
              <img src="/assets/images/card.png" alt="Bovedum Card" />
            </figure>
            <a [routerLink]="['/wallet', 'card']" routerLinkActive="active"
              class="card-btn btn btn-info">Solicitar tarjeta</a>
          </ng-template>
        </div>
      </div>
    </div>
  </div>


</div>
