<div class="container">
    <div class="row">
        <h1 class="text-center col-12 color-lightGray">¿Por qué Metalicum?</h1>
    </div>
    
    <div class="row d-flex justify-content-around mt-5">
        <figure><img src="assets/images/metalicum-logo@2x.png" alt="Logo Metalicum"></figure>
        <figure><img src="assets/images/oro@2x.png" alt="Gold"></figure>
    </div>
    <div class="row">
        <p class="text-center mt-5 col-12 lead">Obtenga beneficios reales de su capital. Compra de forma fácil oro certificado y asegura tu patrimonio.</p>
        <p *ngIf="hasPreregister !== undefined && !hasPreregister" class="text-center mt-5 mb-0 col-12 font-weight-light">Entérate de forma
        anticipada del activo digital que cambiará el mercado.</p>
    </div>
    <div class="row">
        <div *ngIf="hasPreregister !== undefined && hasPreregister" class="mt-5 col-12">
            <p class="lead mb-0 text-center">¡Felicitaciones!</p>
            <p class="text-center mt-0 mb-0 font-weight-light">Te avisaremos cuando todo esté listo.</p>
        </div>
        <button *ngIf="hasPreregister !== undefined && !hasPreregister" (click)="metalicumRegister()"
        class="btn btn-success btn-lg py-3 px-5 mt-0 mx-auto">Inscribirme</button>
    </div>
    <div class="row d-flex justify-content-center">
        <a [routerLink]="['/wallet', 'products']" class="btn btn-outline-warning mt-5 py-2 px-4">Volver</a>
    </div>
</div>