<div *ngIf="!processing" class="row d-flex justify-content-between">

	<!-- <header class="col-12 steps">
		<div *ngFor="let _step of steps; let i = index">
			<div class="step__dot" [class.active]="step >= i" [class.check]="step > i">{{i+1}}</div>
		</div>
	</header> -->

	<section class="col-12 col-sm-5" *ngIf="step === 1" @enterAnimation>
		<h3>Datos personales</h3>
		<form [formGroup]="dataForm">
			<div class="form-row">
				<div class="form-group col-md-12">
				<label for="name">Nombre completo</label>
				<input required formControlName="name" name="name" type="text" id="name" class="form-control">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="surname">Apellido paterno</label>
					<input required formControlName="surname" name="surname" type="text" id="surname" class="form-control">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="second_surname">Apellido materno</label>
					<input required formControlName="second_surname" name="second_surname" type="text" id="second_surname"
					class="form-control">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label for="account_country">País</label>
					<select formControlName="country_id" name="country_id" class="form-control" id="account_country" required>
					<option *ngFor="let cty of countries" [value]="cty.id">
						{{cty.country_name}}</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label for="tel">Teléfono de contacto</label>
					<input required formControlName="tel" name="tel" type="phone" id="tel" class="form-control">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label for="rut">RUT</label>
					<input required formatRut formControlName="rut" name="rut" type="text" id="rut" class="form-control">
				</div>
			</div>
			<!-- <div *ngIf="hasMeta" class="form-row">
				<button class="btn btn-outline-primary btn-block my-3" type="button"
					(click)="editData(dataForm); editingAccountMeta = !editingAccountMeta" [disabled]="editingAccountMeta">
					<fa-icon [icon]="['far', 'edit']" [fixedWidth]="true" size="sm"></fa-icon> Editar datos
				</button>
			</div> -->
			<div class="d-flex justify-content-between">
				<a [routerLink]="['wallet','minerals']" class="btn btn-warning mt-3">Atrás</a>						
				<button class="btn btn-success mt-3" type="button" [disabled]="!dataForm.valid"
					(click)="setAccountMeta(); editingAccountMeta = !editingAccountMeta;">Siguiente</button>
			</div>
		</form>
	</section>
	<section class="col-12 col-sm-5" *ngIf="step === 2" @enterAnimation>
		<h3>Datos bancarios</h3>
		<form [formGroup]="bankForm">
			<div class="form-row">
				<p>En caso que algo falle con tu compra queremos saber dónde podemos hacer un reembolso.</p>
				<p>Agrega o selecciona una cuenta para poder continuar. Puedes agregar todas las cuentas que necesites.</p>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label for="bank_id">Banco</label>
					<select formControlName="bank_id" class="form-control" id="bank_id" required>
						<option value="" disabled>Selecciona un banco...</option>
						<option *ngFor="let bank of banks" [value]="bank.id">
						{{bank.bank_name}}</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label for="bank_account_type_id">Tipo de cuenta</label>
					<select formControlName="bank_account_type_id" class="form-control" id="bank_account_type_id" required>
						<option value="" disabled>Selecciona un tipo de cuenta...</option>
						<option *ngFor="let type of accountTypes" [value]="type.id">
						{{type.account_type}}</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label for="bank_account_number">Nº de cuenta</label>
					<input formControlName="bank_account_number" required name="bank_account_number" type="text"
						id="bank_account_number" class="form-control">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label for="bank_account_rut">RUT</label>
					<input formatRut formControlName="bank_account_rut" required name="bank_account_rut" type="text"
					id="bank_account_rut" class="form-control">
				</div>
			</div>
			<!-- <div *ngIf="hasBankAccount" class="form-row">
			<button class="btn btn-outline-primary btn-block my-3" type="button"
				(click)="editData(bankForm); editingBankAccount = !editingBankAccount" [disabled]="editingBankAccount">
				<fa-icon [icon]="['far', 'edit']" [fixedWidth]="true" size="sm"></fa-icon> Editar datos
			</button>
			</div> -->
			<div class="d-flex justify-content-between">
				<button class="btn btn-warning mt-3" type="button" (click)="prevStep()">Atrás</button>
				<button class="btn btn-success mt-3" type="button" [disabled]="!bankForm.valid"
				(click)="setBankAccount(); editingBankAccount = !editingBankAccount">Siguiente</button>
			</div>
		</form>			
	</section>
	<section class="col-12 col-sm-5" *ngIf="step === 3" @enterAnimation>
		<h2>Dirección de destino</h2>
		<form [formGroup]="addressForm">
			<div class="form-row">
				<div class="form-group col-md-9">
					<label for="address">Dirección</label>
					<input required formControlName="address" name="address" type="text" id="address" class="form-control">
				</div>
				<div class="form-group col-md-3">
					<label for="address_number">Nº</label>
					<input required formControlName="address_number" name="address_number" type="text" id="address_number"
					class="form-control">
				</div>
				<div class="form-group col-md-6">
					<label for="country">País</label>
					<select formControlName="country" name="country" class="form-control" id="country" required>
						<option *ngFor="let cty of countries" [value]="cty.id">
						{{cty.country_name}}</option>
					</select>
				</div>
				<div class="form-group col-md-6">
					<label for="city">Ciudad</label>
					<input required formControlName="city" name="city" type="text" id="city" class="form-control">
				</div>
				<div class="form-group col-md-12">
					<label for="zip">Código postal</label>
					<input required formControlName="zip" name="zip" type="text" id="zip" class="form-control">
				</div>
			</div>
			<div class="d-flex justify-content-between">
				<button class="btn btn-warning mt-3" type="button" (click)="prevStep()">Atrás</button>
				<button class="btn btn-success mt-3" type="button" (click)="nextStep()"  [disabled]="!addressForm.valid"
				>Siguiente</button>
			</div>
		</form>
	</section>
	<section class="col-12 col-sm-5" *ngIf="step === 4" @enterAnimation>
		<h2 class="text-center">¡Todo listo!</h2>
		<form [formGroup]="requestForm">
			<div class="form-check mb-3">
				<input formControlName="request_sell_conditions" name="request_sell_conditions" class="form-check-input" type="checkbox" id="request_sell_conditions">
				<label class="form-check-label" for="request_sell_conditions">Acepto las <a href="http://google.com"
					target="_blank" rel="noopener noreferrer">Condiciones de
					venta</a></label>
			</div>
			<div class="form-check mb-3">
				<input formControlName="request_deposit_contract" name="request_deposit_contract" class="form-check-input" type="checkbox" id="request_deposit_contract">
				<label class="form-check-label" for="request_deposit_contract">Acepto el <a href="http://google.com"
					target="_blank" rel="noopener noreferrer">Contrato de depósito</a></label>
			</div>
			<div class="form-check mb-3">
				<input formControlName="request_custody_service" name="request_custody_service" class="form-check-input" type="checkbox" id="request_custody_service">
				<label class="form-check-label" for="request_custody_service">Acepto el <a href="http://google.com"
					target="_blank" rel="noopener noreferrer">Servicio de custodia</a></label>
			</div>
			<div class="form-row">
				<button type="button" class="btn btn-success mt-3 btn-block" (click)="setRequestData()"
				[disabled]="!(dataForm.valid && bankForm.valid && addressForm.valid && requestForm.valid)">Solicitar
				mineral</button>
				<button class="btn btn-warning mt-3 btn-block" type="button" (click)="prevStep()">Atrás</button>
			</div>
		</form>
	</section>
</div>