<!-- <div id="liveness"></div> -->
<div class="bv-register d-flex align-items-center justify-content-center">
  <img class="sparkles" src="assets/images/sparkles@2x.png">

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6">
        <form
        #form="ngForm"
        class="needs-validation bg-white p-5 shadow-sm card"
        appCheckPassword
        (submit)="onClickSubmit(form.value)">
          <div class="form__title font-weight-bold">Regístrate</div>
          <div class="form-group">
            <input required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ngModel name="email" #email="ngModel"
              id="email" type="email" placeholder="Correo" class="form-control">
            <small class="form-text text-muted"><i>Nunca compartiremos tu correo.</i></small>
            <div *ngIf="email.touched && email.invalid">
              <div *ngIf="email.errors.required" class="alert alert-danger mb-0 mt-1 py-1"><small><i>Email requerido</i></small></div>
              <div *ngIf="email.errors.pattern" class="alert alert-danger mb-0 mt-1 py-1"><small><i>No es un correo válido</i></small></div>
            </div>
          </div>
          <div class="form-group">
            <input required ngModel name="password" #password="ngModel" type="password" id="password"
              placeholder="Contraseña" class="form-control">
              <div *ngIf="password.touched && password.invalid">
                <div *ngIf="password.errors.required" class="alert alert-danger mb-0 mt-1 py-1"><small><i>Contraseña
                      requerida</i></small>
                </div>
              </div>
          </div>
          <div class="form-group">
            <input required ngModel name="confirmPassword" #confirmPassword="ngModel" type="password" id="confirmPassword"
            placeholder="Confirma tu contraseña" class="form-control">
            <div *ngIf="confirmPassword.touched">
              <div *ngIf="confirmPassword.errors?.required" class="alert alert-danger mb-0 mt-1 py-1"><small>Por favor, confirma tu contraseña</small></div>
              <div *ngIf="form.errors?.samePasswords && (confirmPassword.dirty || confirmPassword.touched)"
              class="alert alert-danger mb-0 mt-1 py-1"><small>Las contraseñas no
                coinciden</small></div>
              </div>
          </div>
          <div class="form-group">
            <input required ngModel type="checkbox" id="termsandcond" #termsandcond="ngModel" name=" termsandcond" ngModel required>
             <label for="termsandcond">Acepto los términos y condiciones</label>
          </div>
          <button class="btn btn-info py-2 px-2 btn-block" [disabled]="!form.valid">Registrarme</button>
        </form>
      </div>
		</div>
		<div class="row">
			<div class="col-12 mt-5 text-center">
				<a class="btn btn-primary" routerLink="" [routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="active">
					<fa-icon [icon]="['fas', 'arrow-circle-left']" [fixedWidth]="true"></fa-icon>
					Volver</a>
			</div>
		</div>
  </div>
</div>