@font-face {
    font-family: 'Orkney';
    src: url('Orkney-Bold.eot');
    src: url('Orkney-Bold.eot?#iefix') format('embedded-opentype'),
        url('Orkney-Bold.woff2') format('woff2'),
        url('Orkney-Bold.woff') format('woff'),
        url('Orkney-Bold.ttf') format('truetype'),
        url('Orkney-Bold.svg#Orkney-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Orkney';
    src: url('Orkney-Light.eot');
    src: url('Orkney-Light.eot?#iefix') format('embedded-opentype'),
        url('Orkney-Light.woff2') format('woff2'),
        url('Orkney-Light.woff') format('woff'),
        url('Orkney-Light.ttf') format('truetype'),
        url('Orkney-Light.svg#Orkney-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Orkney';
    src: url('Orkney-Medium.eot');
    src: url('Orkney-Medium.eot?#iefix') format('embedded-opentype'),
        url('Orkney-Medium.woff2') format('woff2'),
        url('Orkney-Medium.woff') format('woff'),
        url('Orkney-Medium.ttf') format('truetype'),
        url('Orkney-Medium.svg#Orkney-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Orkney';
    src: url('Orkney-Regular.eot');
    src: url('Orkney-Regular.eot?#iefix') format('embedded-opentype'),
        url('Orkney-Regular.woff2') format('woff2'),
        url('Orkney-Regular.woff') format('woff'),
        url('Orkney-Regular.ttf') format('truetype'),
        url('Orkney-Regular.svg#Orkney-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

