<div class="row">
    <div class="col-12">
        <mat-slider
        #presentationSelector
        (input)="onInputChange(presentationSelector.value)"
        class="tp-margin w-100"
        thumbLabel
        [min]="presentationMin"
        [max]="presentationMax"
        [step]="step"
        [value]="presentationMin">
        </mat-slider>        
    </div>
</div>
<dl class="row justify-content-center mt-5">
    <dt class="col-5">Selección actual</dt>
    <dd class="col-5 text-right color-green">{{presentationSelector.value}} grs.</dd>
    <dt class="col-5">Valor total</dt>
    <dd class="col-5 text-right color-green">
        <span class="lead">{{value | currency: 'USD'}}</span> <small> USD</small>
    </dd>
</dl>

<div class="row justify-content-center mt-5">
    <button type="button" (click)="checkoutService.nextStep()" class="btn btn-success">Continuar</button>
</div>

<div class="row justify-content-center mt-2">
    <a [routerLink]="['/wallet', 'minerals']"
      class="btn btn-outline-warning mt-5 py-2 px-4">Volver</a>
</div>