<div class="wallet-menu shadow-lg">
    <nav class="nav justify-content-around">
        <a [routerLink]="['/wallet','card']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
            <img src="/assets/images/wm-mineral.png" alt="Card">
        </a>
        <a [routerLink]="['/wallet','minerals']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
            <img src="/assets/images/wm-card.png" alt="Mineral">
        </a>
        <a [routerLink]="['/wallet']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
            <img src="/assets/images/wm-vault.png" alt="Vault">
        </a>
    </nav>
</div>
