<!-- <div id="liveness"></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6">
      <form #form="ngForm" class="needs-validation" (submit)="onClickSubmit(form.value)">
        <div class="form-group">
          <label for="email">Correo</label>
          <input required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ngModel name="email" #email="ngModel"
            id="email" type="email" class="form-control">
          <div class="" *ngIf="email.touched && !email.valid">
            <div *ngIf="email.errors.required"><small><i>Email requerido</i></small></div>
            <div *ngIf="email.errors.pattern"><small><i>No es un correo válido</i></small></div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Clave</label>
          <input required ngModel name="password" #password="ngModel" type="password" id="password"
            class="form-control">
        </div>
        <div class="form-group">
          <label for="passwordCheck">Reingresa tu clave</label>
          <input required ngModel name="passwordCheck" #passwordCheck="ngModel" type="password" id="passwordCheck"
            class="form-control">
        </div>
        <button class="btn btn-primary">Registrarme</button>
      </form>
    </div>
  </div>
</div> -->