<div class="alert alert-danger text-center mb-0">Estamos en versión Beta.</div>
<header class="wallet-header shadow-sm mb-3">
  <div class="wallet-header__top">
    <nav class="navbar d-flex justify-content-between align-items-center">
        <a class="navbar-brand" routerLink="/"><img src="assets/images/logo-bovedum.png"></a>

        <h1 class="wallet__title">Wallet</h1>

        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            aria-controls="navbarNavDropdown"
            (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed"
            aria-label="Toggle navigation">
            <fa-icon [icon]="['fas', 'bars']" size="lg"></fa-icon>
        </button>


        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a class="nav-link" [routerLink]="['/wallet']"  >Wallet</a>
                </li>
                <li class="nav-item active" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <button class="nav-link" (click)="logOut()" type="button">Salir</button>
                </li>
                <!-- <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a class="nav-link" [routerLink]="['/wallet']"  >Datos personales</a>
                </li>
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a class="nav-link" [routerLink]="['/wallet']"  >Cuenta bancaria</a>
                </li> -->
            </ul>
        </div>




      <!-- <ul class="nav mr-5">
        <li class="nav-item">
          <a class="nav-link" routerLink="" [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item" *ngIf="authenticated">
          <a class="nav-link" routerLink="wallet" routerLinkActive="active">Wallet</a>
        </li>
      </ul> -->


      <!-- <div class="auth__control navbar-text">
        <ng-template [ngIf]="!authenticated" [ngIfElse]="accountAccess">
          <a class="btn btn-outline-primary" routerLink="register" routerLinkActive="active">Register</a>
          <a class="btn btn-outline-primary ml-2" routerLink="login" routerLinkActive="active">Login</a>
        </ng-template>
        <ng-template #accountAccess>
          <a class="" routerLink="wallet" routerLinkActive="active">Hola {{name}}!</a>
          <a class="" (click)="logout()">Logout</a>
        </ng-template>
      </div> -->

    </nav>
  </div>
</header>
