$loginFormHeight: 250px;
.home{
    height: 100vh;
    width: 100%;
    background: {
        image: url('/assets/images/fondo.png');
        position: center;
        size: cover;
    }

    .home-init{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;

        p {
          line-height: 120%;

          text: {
            transform: uppercase;
          }

          &.lead{
            font: {
                size: 350%;
            }
          }
        }
    }

    .know-more{
        // margin-top: auto;
    }

    .swiper-container{
        height: 100%;
    }

    .swiper-slide{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            line-height: 110%;
            text: {
                transform: uppercase;
            }
            font: {
                size: 450%;
            }
        }
    }

}
.login-modal{
    transition: 0.4s ease-in-out;
    position: fixed;
    bottom: -$loginFormHeight;
    left: 0;
    width: 100%;
    background: white;
    z-index: 100000;
    text-align: center;
    border: {
        top-right-radius: 20px;
        top-left-radius: 20px;
    }

    &.active{
        bottom: 0;

        .login-modal__trigger{
            text-align: right;
        }

        form{
            opacity: 1;
            bottom: 0;
        }
    }

    a{
        text: {
            decoration: underline;
        }
    }

    form{
        height: $loginFormHeight;
        transition: 0.7s all ease-in-out;
        opacity: 0;
        bottom: -200px;
        position: relative;
    }
}
