.sparkles{
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 5vh;
}

.bv-intro__wrap{
    height: 100vh;
    padding-bottom: 15vh;
    width: 100%;

    background: {
      image: url('/assets/images/fondo-2@2x.png');
      position: center;
      size: cover;
    }

    .swiper__intro{
        height: 100%;
    }

    .swiper-slide{
        padding-top: 5vh;
        .slide__title{
            font: {
                size: 220%;
            }
        }

        .slide__text{
            line-height: 180%;
        }

        &:first-child{
            figure{
                margin-top: -10vh;
            }
        }

        &:last-child{            
            .btn{
                font: {
                    size: 120%;
                }
            }
        }
    }

    .bv-intro__navigation{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .swiper-pagination {
        padding: 0 20px;
        position: relative;
    }

    .skip{
        padding: {
            left: 60px;
            right: 60px;
        }
        border: {
            top-left-radius: 20px;
        }
    }

    .swiper-pagination-bullet{
        background-color: white;
        margin-left: 5px;
        // transform: scaleX(1);
        transition: 0.3s ease width;
        opacity: 1;

        &:first-child{
            margin-left: 0;
        }

        &-active{
            background-color: white;
            // transform: scaleX(3);
            width: 24px;
            border-radius: 20%;
        }
    }

    .slide__content{
        p{
            display: flex;

            .ng-fa-icon{
                color: $purple;
            
            }
            span{
                padding-left: 10px;
            }
        }
    }
}

.howto__slide{
    .slide__text {        
        font: {
            size: 90%;
        }
    }
}

.howto__selector{
    $borderWidth: 1px;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    // border: $borderWidth dotted white;
    border-radius: 100%;
    background: {
        image: url('/assets/images/dots@2x.png');
        position: center;
        size: cover;
        repeat: no-repeat;
    }

    .selector{
        $selectorDimension: 10px;
        $position: -(($selectorDimension/2)+($borderWidth/2));
        border-radius: 100%;
        background: #c1c1c1;
        width: $selectorDimension;
        height: $selectorDimension;
        position: absolute;
        transition: 0.3s all ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background: transparent;
            border: 2px solid $purple;
            transform: scale(0);
            transition: 0.3s ease all;
            opacity: 0;
        }

        &.active{
            border-color: $purple;
            background: white;
            
            &::after{
                transform: scale(2);
                opacity: 1;
            }
        }
        
        &:first-child{
            top: $position;
            left: 50%;
            transform: translateX(-50%);
        }
        &:nth-child(2){
            right: $position;
            top: 50%;
            transform: translateY(-50%);
        }
        &:nth-child(3){
            bottom: $position;
            left: 50%;
            transform: translateX(-50%);
        }
        &:last-child{
            left: $position;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.howto__selector-wrap{
    $selectorWrapH: 250px;
    position: relative;
    height: $selectorWrapH;
    width: $selectorWrapH;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;

    img{
        z-index: 1;
        width: 50%;
        position: relative;
    }    
}