.sparkles{
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 5vh;
}

.bv-register{
    height: 100vh;
    width: 100%;

    background: {
      image: url('/assets/images/fondo-2@2x.png');
      position: center;
      size: cover;
    }

    .container{
        z-index: 2;
        position: relative;
    }
}