.bv-card{
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 1rem;
}

.bv-product-card{
    position: relative;
    height: 150px;
    
    .sparkles{
        height: auto;
        width: 50%;
        top: 50%;
        right: 0;
        z-index: 1;
        transform: translateY(-50%);
    }

    .card-body{
        figure{
            width: 40%;
        }
    }

    .btn{
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
        padding: 10px 30px;
        border: {
            top-right-radius: 20px;
        }
    }
}

.bv-indicators-card{
    .card-body{
        width: 100%;
    }
    .card-body__column{
        box-sizing: border-box;
        width: (100 / 3) * 1%;
        width: 100%;
    }

    #chart{
        width: 100%;
    }
}