footer{
    margin-top: 50px;
    padding: 40px 0;
    background-color: $darkBlue;
}

.footer__section{
    ul{
        li{
            margin-bottom: 10px;
            font: {
                size: 110%;
            }
            &:last-child{
                margin-bottom: 0;
            }
            a{
                color: white;
            }
        }
    }
}

.footer__title{
    color: $yellow;
    margin-bottom: 30px;
    text: {
        transform: uppercase;
    }
    font: {
        size: 110%;
    }
}