.product-selector{
    @mixin headerStyles {
        background: $mediumBlue;
        color: white;
        text-align: left;
    }
    $fontSize: 0.9rem;
    .product-selector__header {
        // @include headerStyles;
        font: {
          size: $fontSize;
        }
        &.mat-expanded{
            // @include headerStyles;
            &:hover{
                // @include headerStyles;
            }
        }
    }

    .product__title {        
        line-height: 120%;
        font: {
          size: $fontSize;
        }
    }

    .product__content{
        p{
            width: 65%;
        }
    }
    figure{
        width: 30%;
    }

    .btn{
        
    }
}