.wallet-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 5%;
  background-color: white;
  z-index: 100;

  border: {
    top-right-radius: 20px;
    top-left-radius: 20px;
  }

  nav {
    width: 100%;

    a {
      opacity: 0.4;
      transition: 0.3s ease all;

      &.active {
        opacity: 1;
      }

      img {
        width: 30px;
      }
    }
  }
}