<router-outlet></router-outlet>
<!-- <app-loader [showLoader]="showLoader"></app-loader> -->
<ngx-spinner bdColor="#253f81" size="large" color="#fff" type="ball-scale-ripple-multiple" [fullScreen]="false"></ngx-spinner>