<div class="container" *ngIf="checkoutService.mineral && (step > 0)">
    <div class="row">
        <h1 class="text-center col-12">{{ mineral.mineral_name }}</h1>
        <p class="text-center lead col-12 mb-0">{{ stepTitle }}</p>
    </div>
    <hr>
    <hr>
    <!-- <router-outlet></router-outlet> -->
    <ng-container [ngSwitch]="step">
        <app-mineral-presentation-selector *ngSwitchCase="1"></app-mineral-presentation-selector>
        <app-mineral-request *ngSwitchCase="2"></app-mineral-request>
        <app-checkout-confirm *ngSwitchCase="3"></app-checkout-confirm>
        <app-thankyou *ngSwitchCase="4"></app-thankyou>
    </ng-container>
</div>
