<div class="container">
  <header class="row">
    <h1 class="text-center col-12">Elige un producto</h1>
  </header>
  <hr>
  <hr>
  <section class="product-selector">
    <mat-accordion [multi]="false">
      <div class="row" *ngFor="let product of products">
        <div class="col-12 mb-3">
          <mat-expansion-panel>
            <mat-expansion-panel-header class="product-selector__header">
              <mat-panel-title>
                <h2 class="product__title font-weight-bold m-0 d-flex align-items-center color-darkBlue">{{product.mineral_name}}</h2>
              </mat-panel-title>
              <mat-panel-description *ngIf="product.mineral_value > 0">
                <p class="d-inline-block w-100 m-0 text-right font-weight-bold color-green">
                  {{product.mineral_value | currency: 'USD'}} <small>USD</small></p>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="product__content d-flex justify-content-between align-items-start">
              <p class="color-lightGray" [innerHtml]="product.mineral_description"></p>
              <figure>
                <img src="assets/images/{{product.mineral_image}}" alt="{{product.mineral_name}}">
              </figure>
            </div>
            <a [routerLink]="[product.btn_url]" class="card-btn btn btn-outline-success btn-block mt-5 py-2 px-4"
              (click)="setMineral(product)">{{product.btn}} {{product.mineral_name | lowercase}}</a>
          </mat-expansion-panel>
        </div>
      </div>
    </mat-accordion>
  </section>
</div>