<header class="row">
  <h1 class="col-12 text-center">¡Felicitaciones!</h1>
  <p class="col-12 text-center">Hemos recibido tu pedido con éxito.</p>
</header>

<ng-container *ngIf="checkoutService.checkoutData$ | async as checkoutData">
  <section *ngIf="checkoutService.getPaymentType() === 'transfer'" class="row my-5">
    <h3 class="col-12 text-center mb-3">Pago vía transferencia electrónica</h3>
    <h5 class="col-12">Datos bancarios Bovedum</h5>
    <p class="col-12">Recuerda que tienes 10 minutos para realizar la transferencia. Luego, tu pedido será eliminado.
    </p>
    <div class="col-12">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <th class="color-lightGray">Razón social</th>
            <td class="text-right">Bovedum SPA</td>
          </tr>
          <tr>
            <th class="color-lightGray">Banco</th>
            <td class="text-right">Banco Itaú</td>
          </tr>
          <tr>
            <th class="color-lightGray">Número de cuenta</th>
            <td class="text-right">209061255</td>
          </tr>
          <tr>
            <th class="color-lightGray">RUT</th>
            <td class="text-right">76.584.153-4</td>
          </tr>
          <tr>
            <th class="color-lightGray">Email</th>
            <td class="text-right"><a href="mailto:contacto@bovedum.com">contacto@bovedum.com</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section *ngIf="(checkoutService.getPaymentType() === 'paypal') && (checkoutData.paypal)"
    class="row my-5 paypal-checkout">
    <h3 class="col-12 text-center">Pago vía PayPal</h3>
    <div class="col-12 table-responsive">
      <table class="table">
        <tr>
          <th class="color-lightGray">Id de transacción</th>
          <td class="text-right">{{ checkoutData.paypal.id }}</td>
        </tr>
        <tr>
          <th class="color-lightGray">Fecha transacción</th>
          <td class="text-right">{{ checkoutData.paypal.create_time | date: 'medium' }}</td>
        </tr>
        <tr>
          <th class="color-lightGray">Total</th>
          <td class="text-right">{{ checkoutData.transaction.totalValue | currency: 'USD' }}</td>
        </tr>
      </table>
    </div>
  </section>

  <hr>

  <section class="row">
    <div class="col-12 table-responsive">
      <table class="table">
        <tr>
					<th class="lead font-weight-bold">Id de transacción</th>
					<td class="lead text-right">{{ checkoutData.transaction.transactionId }}</td>
				</tr>
        <tr>
          <th class="lead col-12 mb-0 font-weight-bold" colspan="2">Datos personales</th>
        </tr>
        <tr>
          <th class="color-lightGray">Nombre titular</th>
          <td class="text-right">{{ checkoutData.account.name }}</td>
        </tr>
        <tr>
          <th class="color-lightGray">RUT</th>
          <td class="text-right">{{ checkoutData.account.rut | formatRut }}</td>
        </tr>
        <tr>
          <th class="lead col-12 mb-0 font-weight-bold" colspan="2">Datos producto</th>
        </tr>
        <tr>
          <th class="color-lightGray">Mineral</th>
          <td class="text-right">{{ checkoutData.transaction.mineralName }}</td>
        </tr>
        <tr>
          <th class="color-lightGray">Cantidad mineral</th>
          <td class="text-right">{{ checkoutData.transaction.mineralQuantity }} grs.</td>
        </tr>
        <tr>
          <th class="color-lightGray">Valor mineral</th>
          <td class="text-right">{{ checkoutData.transaction.mineralValue | currency: 'USD' }} USD</td>
        </tr>
        <tr>
          <th class="color-lightGray">Total</th>
          <td class="text-right">{{ checkoutData.transaction.totalValue | currency: 'USD' }} USD</td>
        </tr>
        <tr>
          <th class="color-lightGray">Fecha</th>
          <td class="text-right">{{ checkoutData.transaction.date | date: 'medium' }}</td>
        </tr>
      </table>
    </div>
  </section>

</ng-container>


<section class="row">
  <div class="col-12 d-flex justify-content-center">
    <a [routerLink]="['/wallet']" class="btn btn-success mt-5">Volver</a>
  </div>
</section>