<ng-container *ngIf="checkoutService.checkoutData$ | async as checkoutData">
    <section class="row">
        <div class="col-12 table-responsive">
            <table class="table">
                <tr>
                    <th class="lead col-12 mb-0 font-weight-bold" colspan="2">Datos personales</th>
                </tr>
                <tr>
                    <th class="color-lightGray">Nombre titular</th>
                    <td class="text-right">{{ checkoutData.account.name }}</td>
                </tr>
                <tr>
                    <th class="color-lightGray">Correo</th>
                    <td class="text-right">{{ accService.email }}</td>
                </tr>
                <tr>
                    <th class="color-lightGray">RUT</th>
                    <td class="text-right">{{ checkoutData.account.rut | formatRut }}</td>
                </tr>

                <ng-container *ngIf="checkoutService.mineral.mineral_type === 'physical'">
                <tr>
                    <th class="lead col-12 mb-0 font-weight-bold" colspan="2">Datos despacho</th>
                </tr>
                <tr>
                    <th class="color-lightGray">Dirección</th>
                    <td class="text-right">{{ checkoutData.address.address }} {{ checkoutData.address.address_number }}</td>
                </tr>
                <tr>
                    <th class="color-lightGray">Ciudad</th>
                    <td class="text-right">{{ checkoutData.address.city }}</td>
                </tr>
                <tr>
                    <th class="color-lightGray">ZIP</th>
                    <td class="text-right">{{ checkoutData.address.zip }}</td>
                </tr>
                </ng-container>

                <tr>
                    <th class="lead col-12 mb-0 font-weight-bold" colspan="2">Datos bancarios</th>
                </tr>
                <tr>
                    <th class="color-lightGray">Banco</th>
                    <td class="text-right">{{ checkoutData.bank.name }}</td>
                </tr>
                <tr>
                    <th class="color-lightGray">Tipo de cuenta</th>
                    <td class="text-right">{{ checkoutData.bank.accountType }}</td>
                </tr>
                <tr>
                    <th class="color-lightGray">Número de cuenta</th>
                    <td class="text-right">{{ checkoutData.bank.accountNumber }}</td>
                </tr>
                <tr>
                    <th class="lead col-12 mb-0 font-weight-bold" colspan="2">Datos producto</th>
                </tr>
                <tr>
                    <th class="color-lightGray">Mineral</th>
                    <td class="text-right">{{ checkoutData.transaction.mineralName }}</td>
                </tr>
                <tr>
                    <th class="color-lightGray">Cantidad mineral</th>
                    <td class="text-right">{{ checkoutData.transaction.mineralQuantity }} grs.</td>
                </tr>
                <tr>
                    <th class="color-lightGray">Valor mineral</th>
                    <td class="text-right">{{ checkoutData.transaction.mineralValue | currency: 'USD' }} USD</td>
                </tr>
                <tr>
                    <th class="color-lightGray">Total</th>
                    <td class="text-right">{{ checkoutData.transaction.totalValue | currency: 'USD' }} USD</td>
                </tr>
                <tr>
                    <th class="color-lightGray">Fecha</th>
                    <td class="text-right">{{ checkoutData.transaction.date | date: 'medium' }}</td>
                </tr>
            </table>
        </div>
    </section>

    <hr>

    <section class="row mt-2">
        <div class="col-12">
            <p class="lead text-center my-0"><span class="font-weight-bold">Total a pagar:</span> {{ checkoutData.transaction.totalValue | currency: 'USD' }}</p>
        </div>
    </section>

    <hr>

    <section class="row mt-5">
        <div class="col-12 d-flex justify-content-center">
            <button type="button" (click)="requestMineral('transfer')" class="btn btn-success btn-lg">Transferencia electrónica</button>
        </div>
        <div class="col-12 mt-3 d-flex justify-content-center">
            <app-paypal></app-paypal>
        </div>
    </section>

    <section class="row mt-5">
        <div class="col-12 d-flex justify-content-center">
            <a [routerLink]="['wallet']" class="btn btn-outline-warning btn-lg">Volver</a>
        </div>
    </section>
</ng-container>
