@import './styles/atoms/vars';

@import "~bootstrap/scss/bootstrap";

// @tailwind base;

// @tailwind components;

// @tailwind utilities;

// @import "~tailwindcss/dist/base.css";

// @import "~tailwindcss/dist/components.css";

// @import "~tailwindcss/dist/utilities.css";


@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@import '~swiper/dist/css/swiper.min.css';


/* Atoms */
@import './styles/atoms/text';
@import './styles/atoms/shadows';
@import './styles/atoms/form-elements';
@import './styles/atoms/table-elements';

/* Molecules */
// @import './styles/molecules/shadows';

/* Organisms */
@import './styles/organisms/header';
@import './styles/organisms/footer';
@import './styles/organisms/navbar';
@import './styles/organisms/lists';
@import './styles/organisms/loading-screen';
@import './styles/organisms/wallet-header';
@import './styles/organisms/wallet-menu';
@import './styles/organisms/wallet-card';
@import './styles/organisms/bv-card';
@import './styles/organisms/charts';
@import './styles/organisms/slider';
@import './styles/organisms/product-selector';

/* Templates */
@import './styles/templates/wallet';
@import './styles/templates/home';
@import './styles/templates/login';
@import './styles/templates/intro';
@import './styles/templates/register';
@import './styles/templates/card-request';
@import './styles/templates/mineral-request';

button {
  background: transparent;
  border: none;
}

.h-100vh {
  height: 100vh;
}

.mat-expansion-panel-header {
  font: {
    family: $primaryFont;
    size: inherit;
  }
}

/*  */

html,
body {
  font: {
    family: $primaryFont;
    size: 1rem;
  }
}

figure {
  margin: 0;
}

.form-control {

  &.ng-dirty,
  &.ng-touched {
    &.ng-valid {
      border: 2px solid green;
    }

    &.ng-invalid {
      border: 2px solid red;
    }
  }
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Orkney';
  src: url('/assets/fonts/Orkney-Bold.eot');
  src: url('/assets/fonts/Orkney-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Orkney-Bold.woff2') format('woff2'),
    url('/assets/fonts/Orkney-Bold.woff') format('woff'),
    url('/assets/fonts/Orkney-Bold.ttf') format('truetype'),
    url('/assets/fonts/Orkney-Bold.svg#Orkney-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Orkney';
  src: url('/assets/fonts/Orkney-Light.eot');
  src: url('/assets/fonts/Orkney-Light.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Orkney-Light.woff2') format('woff2'),
    url('/assets/fonts/Orkney-Light.woff') format('woff'),
    url('/assets/fonts/Orkney-Light.ttf') format('truetype'),
    url('/assets/fonts/Orkney-Light.svg#Orkney-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Orkney';
  src: url('/assets/fonts/Orkney-Medium.eot');
  src: url('/assets/fonts/Orkney-Medium.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Orkney-Medium.woff2') format('woff2'),
    url('/assets/fonts/Orkney-Medium.woff') format('woff'),
    url('/assets/fonts/Orkney-Medium.ttf') format('truetype'),
    url('/assets/fonts/Orkney-Medium.svg#Orkney-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Orkney';
  src: url('/assets/fonts/Orkney-Regular.eot');
  src: url('/assets/fonts/Orkney-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Orkney-Regular.woff2') format('woff2'),
    url('/assets/fonts/Orkney-Regular.woff') format('woff'),
    url('/assets/fonts/Orkney-Regular.ttf') format('truetype'),
    url('/assets/fonts/Orkney-Regular.svg#Orkney-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}