<header class="siteheader shadow-sm mb-3">
    <div class="siteheader__top">
        <nav class="navbar d-flex">
          <a class="navbar-brand mr-auto" routerLink="/"><img src="assets/images/logo-bovedum-full.png"></a>
          <ul class="nav mr-5">
            <li class="nav-item">
              <a class="nav-link" routerLink="" [routerLinkActiveOptions]="{ exact: true }"
                routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item" *ngIf="authenticated">
              <a class="nav-link" routerLink="wallet" routerLinkActive="active">Wallet</a>
            </li>
          </ul>
          <div class="auth__control navbar-text">
            <ng-template [ngIf]="!authenticated" [ngIfElse]="accountAccess">
              <a class="btn btn-outline-primary" routerLink="register" routerLinkActive="active">Register</a>
              <a class="btn btn-outline-primary ml-2" routerLink="login" routerLinkActive="active">Login</a>
            </ng-template>
            <ng-template #accountAccess>
              <a class="" routerLink="wallet" routerLinkActive="active">Hola {{name}}!</a>
              <a class="" (click)="logout()">Logout</a>
            </ng-template>
          </div>
        </nav>
    </div>
    <div *ngIf="authenticated" class="siteheader__bot">
        <nav class="navbar d-flex">
            <ul class="nav">
                <li class="nav-item" *ngIf="authenticated">
                    <a class="nav-link" routerLink="wallet/card" routerLinkActive="active">
                      <fa-icon [icon]="['fas', 'credit-card']" [fixedWidth]="true"></fa-icon>
                      Mi tarjeta</a>
                </li>
                <li class="nav-item" *ngIf="authenticated">
                    <a class="nav-link" routerLink="wallet/products" routerLinkActive="active">
                      <fa-icon [icon]="['fas', 'tasks']" [fixedWidth]="true"></fa-icon>
                      Mis pedidos</a>
                </li>
            </ul>
        </nav>
    </div>
</header>